.VPContent.is-home {
    background-image: url("/home/02.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.VPHome {
    background: linear-gradient(175deg,
            var(--vp-c-bg),
            transparent 70%);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
}